/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

/.next/
/out/

/build

yarn-debug.log*
yarn-error.log*

.env*

.vercel

*.tsbuildinfo
next-env.d.ts

/generated/prisma
