version: "3.9"

services:
  db:
    image: mysql:8.0
    container_name: mysql_db
    restart: always
    command: --default-authentication-plugin=mysql_native_password
    environment:
      MYSQL_DATABASE: desafio_db
      MYSQL_ROOT_PASSWORD: password@2025
      MYSQL_ROOT_HOST: "%"
      TZ: America/Sao_Paulo
    volumes:
      - mysql_data:/var/lib/mysql

volumes:
  mysql_data:
